
.style__frase {
  border: solid 1px;
  display:flex;
  justify-content: center;
  margin:15px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.style__frase_red {
  border: solid 1px;
  display:flex;
  justify-content: center;
  margin:15px;
  border-radius: 20px;
  padding: 10px;
  background-color:rgb(254, 157, 157);
}

.botones {
  width: 46%;
  padding: 20px;
  margin: 2%;
}

.bckgnd {
  background-image: url(../img/1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome__wrap {
  display: flex;
  justify-content: center;
  align-content:center;
  background-color: rgb(252, 252, 235);
  height: 100vh;
  width: 100%;
}

.welcome {
  width: 400px;
  justify-content: center;
  align-content:center;
  text-align: center;
  margin-top: 100px;
}



* {
  margin: 0;
  padding: 0;
}
