
.style__frase{
  border: solid 1px;
  display:flex;
  justify-content: center;
  margin:15px;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.style__frase_red {
  border: solid 1px;
  display:flex;
  justify-content: center;
  margin:15px;
  border-radius: 20px;
  padding: 10px;
  background-color:rgb(254, 157, 157);
}

.botones{
  width: 46%;
  padding: 20px;
  margin: 2%;
}

* {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
